---
layout: default
---

<div class="home">

  <h1 class="page-heading">Useful Links</h1>

  <ul class="post-list">
    {% for link in site.data.contentful.spaces.links.link %}
      <li>
        <h2><a href="{{ link.url | url }}">{{ link.websiteName }}</a></h2>
      </li>
    {% endfor %}
  </ul>

  <ul class="post-list">
    {% for gallery in site.data.contentful.spaces.links.gallery %}
    {% for images in gallery.images %}
      <li>
        <h2><img src="{{ images.url }}"></h2>
      </li>
    {% endfor %}
    {% endfor %}
  </ul>
</div>
