/**
 * Site header
 */
.site-header {
    position: fixed;
    top: 0;
    z-index: 2;
    top: 5%;
    left: 5%;
}

.site-title {
    font-size: 26px;
    font-family: "Arial";
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 56px;
    margin-bottom: 0;
    position: relative;
    float: left;

    &,
    &:visited {
        color: #111;
    }
}

.site-description {
  clear: both;
  display: block;
}

.swiper-container .caption {
position: absolute;
z-index: 999;
display: block;
bottom: 10px;
right: 10px;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}





.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


#slider {
  cursor: pointer;
}



.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #ddd;
    opacity: .2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: white;
}


/* scrolling */


.parallaxParent {
	height: 100vh;
  width: 50%;
  float: left;
  display: block;
}
#parallax1 {
  position: relative;
  top: 300px;
  left: 20%;
  z-index: 2;

  .post {
        background-color: transparent;
  }
}


#parallax2 {
  position: relative;
  top: 400px;
  right: 20%;
  z-index: 1;
  .post {
      background-color: blue;
  }
}




.parallaxParent > .post {
  height: 200px;
  width: 100%;
  position: absolute;
}
